VITE_FIREBASE_API_KEY=AIzaSyCV8K6Xzi37vrMGzmOBqUNveltyzDzQMCw
VITE_FIREBASE_AUTH_DOMAIN=winter-olympics-2026-96443.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=winter-olympics-2026-96443
VITE_FIREBASE_STORAGE_BUCKET=winter-olympics-2026-96443.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=192867157677
VITE_FIREBASE_APP_ID=1:192867157677:web:19bb52766af6e2fc6ea824